.service__container {
    flex: 1;
    max-height: 450px;
    min-width: 308px;
    border-radius: 5px;
    transition: all .4s ease-out;
    padding: 20px;
}

.service__container:hover {
    box-shadow: 0 0 20px 6px rgb(243, 243, 243);
    transition: all .4s ease-out;

}

.service__image {
    max-width: 78px;
    max-height: 78px;
    object-fit: cover;
}

.service__title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #16322E;
    margin-top: 14px;
}

.service__price {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #251D58;
    margin-top: 9px;
}

.service__description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #606268;
    margin-top: 9px;



}

@media only screen and (min-width:820px) and (max-width:1024px) {
    .service__container {
        max-height: 450px;
        max-width: 48%;
    }

}

@media only screen and (max-width:819px) {
    .service__container {
        flex: none;
        max-width: 60%;
        margin: 0 auto;
        min-height: 400px;


    }


}