
.nav__container{
    width: 100%;
    height:80px;
    background-color:#F6F6F6;
    padding: 0 25px;
}
.nav__inner__container{
    max-width:1200px;
    height: inherit;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:0 auto;
    padding-top: 30px;

}
.nav__logo{
    width: 125px;
    height:51px;
}
.nav__menu__container{
    height: 50px;
    display: flex;
    align-items: center;
    list-style-type:none;
}
.nav__menu__link{
    margin: 0 20px;
    transition: all .4s;
    font-weight: 500;
    cursor:pointer;

}
.nav__menu__link:hover{
    color:#251D58;
    transition: all .4s;
}
.nav__menu__login__link{
    display: none;
}
.nav__login__button{
    height: 44px;
    width: 126px;
    color: #FFFFFF;
    background: #251D58;
    border:none;
    border-radius: 5px;
    font-size: 1rem;
}
/*-----------Hamburger menu style start-----------*/

.nav__hamburger__icons__wrapper{
    display: none;
}
.nav__hamburger__line__icon{
    color:#251D58;
    font-size:40px;

}
.nav__hamburger__cross__icon{
    color:#251D58;
    font-size:39px;
}
/*
  _____________-----------------------_____________
  _____________Media Query Style Start_____________
  _____________-----------------------_____________

*/

@media  screen and (max-width : 990px){
    .nav__inner__container{
        position: relative;
        padding: 30px 15px 0 15px;
    }
    .nav__menu__container{
        overflow: hidden;
        transition: height .4s ease-out;
        position:absolute;
        top:80px;
        right: 0;
        left: 0;
        width: 100%;
        height: fit-content;
        flex-direction: column;
        background: #fff;
        height: 0px !important ;
    }
    .nav__menu__mobile__container{
        position:absolute;
        top:80px;
        right: 0;
        left: 0;
        width: 100%;
        flex-direction: column;
        transition: height .4s ease-out;
        background:#fff;
        height: 395px !important;
    }
    .nav__menu__link{
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px solid #251D58;
    }
    .nav__menu__link:last-child{
        border-bottom: none;
    }
    .nav__menu__login__link{
        display: block;
        width: 100%;
        color: #FFFFFF;
        background: #251D58;
        border:none;
        font-size: 1rem;
        padding: 20px 0;
    }
    .nav__login__button{
        display: none;
    }
    .nav__hamburger__icons__wrapper{
        display: block;
    }
}