.testimonial__container{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 10px;
    min-height: 270px;
    background-color: #fff;
    padding: 15px ;
    border-radius: 10px;

}
.testimonial__profile{
    min-height: 70px;
    display: flex;
    align-items: center;
}
.review__profile__image{
    width: 64px;
    height: 64px;
    margin-right: 8px;
}
.review__profile__name{
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
color: #000000;

}
.review__profile__post{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #000000;
}
.review__description{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #707070; 
    margin-top: 13px;
    margin-bottom: 15px;
}